{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    "add-module-exports",
    ["module-resolver", {
      "alias": {
        "socknet": "./src",
        "#utils": "./tests/utils"
      }
    }]
  ]
}
