{
    "env": {
        "browser": false,
        "commonjs": true
    },
    "extends": "eslint:recommended",
    "rules": {
      "indent": [
          "error",
      ],
      "linebreak-style": [
          "error",
          "unix"
      ],
      "quotes": [
          "error",
          "single"
      ],
      "semi": [
          "error",
          "always"
      ]
    }
}
