{
  "extends": "airbnb-base",
  "parser": "babel-eslint",

  "rules": {
    "no-param-reassign": [2, { "props": false }],
    no-underscore-dangle: ["error", { "allowAfterThis": true }],
    "no-shadow": ["error", { "builtinGlobals": false, "hoist": "functions", "allow": [
      "args",
      "err"
    ] }]
  },

  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
